<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>zenflow</title>
</head>
<body>
    <header>
        <div class="head-logo">
           <a href="#"><img src="/images/logozen.png" ></a>
        </div>
        <div class="div1"></div>
        <div class="div2"></div>
        <div class="div3">
            <h2>LOGIN PAGE</h2>
            <P>START  YOUR JOURNEY NEW WITH US </P>
        </div>
        <div class="div4">
            <h2>SIN UP PAGE</h2>
            <p>YOU CAN START</p>
        </div>
       <a href="#">
        <div class="div5">
            <h3>CREATE AN COUNT</h3>
            <form action="/login" method="post">
                <input type="email" name="email" placeholder="YOUR EMAIL" required >
                <input type="password" name="password" placeholder="YOUR PASSWORD" required >
                <input type="password" name="confirm" placeholder="YOUR CONFIRMATION" required >
               <button type="submit">s'inscrire</button>
            </form>
        </div>
       </a>
       <a href="#">
        <div class="div6">
            <h3>LOGIN TO YOUR COUNT</h3>
            <form action="/page-main" method="post">
                <input type="email" name="email" placeholder="YOUR EMAIL" required >
                <input type="password" name="password" placeholder="YOUR PASSWORD" required >
               <button type="submit">s'inscrire</button>
            </form>
        </div>
       </a>
    </header>
    <footer>
        <div class="foot-logo">
            <a href="#"><img src="/images/logozen.png" ></a>
        </div>
        <div class="foot-nav">
           <ul>
            <li><a href="#">Security</a></li>
            <li><a href="#">Collaborator</a></li>
            <li><a href="#">Address</a></li>
           </ul>
           <div class="div7"></div>
        </div>
        <div class="foot-box">
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-facebook-square' ></i>
            <i class='bx bxl-twitter'></i>
        </div>
        <div class="foot-navbar">
            <ul class="foot-ulbar">
                <li><a href="#">confidentiality</a></li>
                <li><a href="#">Meta </a></li>
                <li><a href="#">san francisco L.A</a></li>
            </ul>
            <ul class="foot-ulbar2">
                <li><a href="#">Condition</a></li>
                <li><a href="#">space X</a></li>
                <li><a href="#">District Texas</a></li>
            </ul>
            <ul class="foot-ulbar3">
                <li><a href="#">Setting</a></li>
                <li><a href="#">Google</a></li>
                <li><a href="#">Distict New YOrk</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>